*aux
*.blg
*.log
*.out
*.bbl
.*swp*
ms.aux 
ms.bbl 
ms.blg 
ms.log
main.aux 
main.bbl 
main.blg 
main.log 
main.bbl
main.bbl
main.pdf
mainNotes.bib
proposal.aux
proposal.blg
proposal.log
proposal.pdf
proposal.bbl
proposal.out
data_management.pdf
facilities.pdf
summary.pdf
.DS_Store

g40-xsede
